/* Подключаем шрифт */
@font-face {
  font-family: 'PixelFont';
  src: url('./src/font/pixel_font.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

/* Общие стили для страницы */
body, html {
  height: 100%; /* Важно для родителей flexbox */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  justify-content: center;
  align-items: center; /* Центрирование по горизонтали */
  min-height: 100vh; /* Полный экран */
}

#game-container {
  display: flex;
  justify-content: center;
}

#game-canvas {
  display: block;
  background-color: #eaeaea;
  border: 1px solid #000;
}

#controls {
  margin-top: 20px;
  text-align: center;
  font-family: 'PixelFont', sans-serif; /* Подключаем шрифт */
}


/* Класс для скрытия элементов */
.hidden {
  display: none;
}